.card.authentication
  .card-header
    %h2.title Edit Account

  .card-content
    .form-container.no-border
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form', method: :put}) do |f|
        = devise_error_messages!

        .form-group
          = f.label :name
          = f.email_field :name, autofocus: true, class: 'form-control'

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p Currently waiting confirmation for: #{resource.unconfirmed_email}

        .form-group
          = f.label :email
          = f.email_field :email, class: 'form-control'

        %p Leave these fields blank if you don't want to change your password.

        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: 'off', class: 'form-control'

        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control'

        %p You must enter your current password to make changes.

        .form-group
          = f.label :current_password
          = f.password_field :current_password, class: 'form-control'

        = f.submit 'Update', class: 'btn btn-block btn-primary submit'

  .card-footer

.card.authentication
  .card-header
    %h2.title Cancel Account

  .card-content
    .form-container.no-border
      %p Unhappy? We'll be sad to see you go.
      = button_to 'Cancel my account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-block btn-danger submit'

  .card-footer
