.card.authentication
  .card-header
    %h2.title Forgot your password?

  .card-content
    .form-container.no-border
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: {role: 'form', method: :post}) do |f|

        %p We'll send password reset instructions.

        = devise_error_messages!

        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'

        = f.submit 'Update', class: 'btn btn-block btn-success submit'

  .card-footer