.row
  .col-md-8.col-md-offset-2
    .card
      .card-header
        %h2= @post.title

      .card-content
        %p= @post.description

        %p
          .row
            .col-md-6
              %strong Author:
              = @post.user.name
            .col-md-6.right
              %strong Date published:
              = l @post.created_at

      .card-footer
        %p
          = link_to 'Edit', edit_category_post_path(@category, @post), class: 'btn btn-sm btn-warning'
          = link_to 'Destroy', category_post_path(@category, @post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
          = link_to 'Back', category_path(@category), class: 'btn btn-sm btn-default'
